@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    /* prevents horizontal scroll */
}

.mainBody {
    width: 100%;
    min-height: 100vh;
    background-image: url('./assets/mainBg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}