@tailwind base;
@tailwind components;
@tailwind utilities;

.mainBody {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./assets/mainBg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}